* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  color: black;
  line-height: 1.6;
}

.showcase {
  background-image: url("../images/scattered_chips.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.showcase h1 {
  font-size: 12vw;
  line-height: 1.2;
  font-weight: bolder;
  color: #ff1c20;
}

.showcase img {
  margin-bottom: 28px;
}

.showcase .value-prop {
  font-size: 17px;
}

.copyright {
  font-size: 10px;
  float: left;
}

.showcase input {
}

.showcase button {
  font-size: 18px;
  text-decoration: none;
  color: black;
  border: white 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

#mc_embed_signup {
  margin-top: 20px;
  background: none !important;
}

#mc_embed_signup label {
  font-family: "Poppins", sans-serif;
}

#mc_embed_signup input.email {
  font-family: "Poppins", sans-serif;
}

#mc_embed_signup .button {
  font-size: 18px !important;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
}
