* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  color: black;
  line-height: 1.6;
}

.confirmation {
  background-image: url("./scattered_chips.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.header-wrapper {
  background: rgb(255, 255, 255, 0.7);
  padding: 20px;
}

.confirmation h1 {
  font-size: 7vw;
  line-height: 1.2;
  font-weight: bolder;
  color: #ff1c20;
}
