* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  color: black;
  line-height: 1.6;
}

.showcase {
  background-image: url("../public/scattered_chips.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.header-wrapper {
  background: rgb(255, 255, 255, 0.7);
  padding: 20px;
}

.showcase h1 {
  font-size: 12vw;
  line-height: 1.2;
  font-weight: bolder;
  color: #ff1c20;
}

.showcase .value-prop {
  font-size: 17px;
  font-weight: 600;
  margin-top: 18px;
}

.copyright {
  font-size: 10px;
  float: left;
}

/* #mc_embed_signup {
  margin-top: 20px;
  background: none !important;
}

#mc_embed_signup label {
  font-size: 21px !important;
  font-family: "Poppins", sans-serif;
}

#mc_embed_signup input.email {
  font-family: "Poppins", sans-serif;
}

#mc_embed_signup .button {
  font-size: 18px !important;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
  background-color: #ff1c20 !important;
  transition: unset !important;
}
#mc_embed_signup .button:hover {
  background-color: none;
} */

.social {
  float: right;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
}

.social p {
  margin-right: 5px;
}

.buy {
  margin-top: 1vh;
}
.buy button {
  padding: 0;
}
